*{
    margin:0;
    padding:0;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-filter: contrast(120%);
    filter: contrast(120%);
    background-color: black;
    position: relative;
}

.container {
    width: 100%;
    height: 99.74%;
    background-image: radial-gradient(2000px at 10% 130%, rgba(33, 39, 80, 1) 10%, #020409 100%);

}

.content {
    width: 100% auto;
    height: 100% auto;
}

#universe {
    width: 100% auto;
    height: 100% auto;
}

#footerContent {
    font-family: sans-serif;
    font-size: 110%;
    color: rgba(200, 220, 255, .3);
    width: 100%;
    position: fixed;
    bottom: 0%;
    padding: 20%;
    text-align: center;
    z-index: 20;
}

#footer {
    position: absolute;
    bottom: 0%;
    height: 300px;
    width: 100%;
}

#scene {
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -768px;
}

a {
    text-decoration: none;
    color: rgba(200, 220, 255, 1);
    opacity: .4;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
}

a:hover {
    opacity: 1;
}

.txt {
    color: hsla(0, 0%, 0%, 0);
    text-shadow: #fff 0 0 10px;
    transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
}

@-moz-document url-prefix() {
    .txt {
        text-shadow: #fff 0 0 20px;
    }
}

#canvas{
    margin: 0 auto;
}
.love {
    width: 70px; /* Aumenta el ancho */
    height: 70px; /* Aumenta la altura */
    transform: rotate(45deg);
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px; /* Mitad de la altura */
    margin-left: -35px; /* Mitad del ancho */
    animation: beating 2s ease infinite;
}

.love:before,
.love:after {
    content: "";
    height: 70px; /* Ajusta el tamaño */
    width: 70px; /* Ajusta el tamaño */
    border-radius: 50%;
    background: red;
    position: absolute;
}

.love:before {
    top: 0;
    left: -35px; /* Ajusta la posición a la izquierda */
}

.love:after {
    top: -35px; /* Ajusta la posición arriba */
}

@keyframes beating {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(2);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}
#youtubeButton {
    display: none; /* Inicialmente oculto */
    position: absolute;
    bottom: 20px; /* Distancia desde abajo */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Centrado horizontalmente */
    background-color: #ff0000; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor al pasar el ratón */
    z-index: 9999;
}
